.container {
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.container>.controls {
    margin: 10px 0;
    display: inline;
}

.gameboard {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.cell {
    height:16px;
    width: 16px;
}

tr,
td {
    border: 1px solid black;
}

.active {
    background-color: black;
}

#form {
  display: inline;  
}

#dropDown2 {
    display: inline;
}