.container {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container>.controls {
    margin: 10px 0;
    display: inline;
}

.gameboard {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.cell {
    height:16px;
    width: 16px;
}

tr,
td {
    border: 1px solid black;
}

.active {
    background-color: black;
}

#form {
  display: inline;  
}

#dropDown2 {
    display: inline;
}

.led-box {
    display: inline;
  }

.led-green {
    width: 24px;
    height: 24px;
    background-color: green ;
    /* background-color: #ABFF00; */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, green 0 2px 12px
  }

  .led-red {
    width: 24px;
    height: 24px;
    background-color: red;
    /* background-color: #ABFF00; */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, red 0 2px 12px
  }